.header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

body {
    padding: 0 0 20px 0;
}

.footer {
    padding: 20px 0 0 0;
    margin-top:  20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.navbar-brand {
    padding: 7px 10px 0 15px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;   
}

.btn-primary {
    background-color:  #dd741d;
    border-color: #d16f1d
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color:  #d16f1d;
    border-color: #d16f1d;  
}

h1, h2, h3, h4, h5 {
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6), -1px -1px 0 #fff;
    font-family:  Georgia;
}

.navbar {
    font-family:  Georgia;
}

.logo {
    position: absolute;
    left:  49%;
    top:  5px;
}